*
!example/
!lib/
!test/
!.metadata
!analysis_options.yaml
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!CONTRIBUTORS.md
!dartdoc_options.yaml
!docker-entrypoint.sh
!LICENSE
!Makefile
!pubspec.lock
!pubspec.yaml
!README.md
!SECURITY.md